.catatanku{
    // background-color: red;
    width: 100%;
    height: 100vh;
    display: flex;
    background-color: $abu;
    justify-content: space-between;

    .logo{
        position: absolute;
        width: 150px;
        top: 15px;
        left: 40px;
        img{
            width: 100%;
        }
    }
    .left{
        width: 20%;
        height: 90%;
        background-color: rgba(77,119,78,.8);
        align-self: flex-end;
        border-top-right-radius: 100px;
        padding:3em 0em ;
        text-align: center;
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: "inter",sans-serif;
        .img{
            width: 90px;
            height: 100px;
            border-radius: 50%;
            background-color: rgb(165, 168, 168);
            margin: 0 2em;
        }
        h1{
            font-size:1.5em ;
            margin: 0.8em 2em 0.2em 2em;
            
        }
        h2{
            font-size: 1em;
            font-weight: 400;
            margin: 0 2em;
            word-wrap: break-word;
        }
        .logout{
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            font-size: 1em;
            width: 140px;
            height: 40px;
            border-radius: 20px;
            margin-top: 1.3em;
            background-color: #F1B24A;
        }
        .nav{
            // background-color: rgb(102, 206, 102);
            margin-top: 1.3em;
            width: 100%;
            height: 70%;
            display: flex;
            flex-direction: column;
            // gap: 10px;
            .list{
                height: 20%;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 1.3rem;
                font-weight: 400;
                text-shadow: 0px 2px #00000048;
                cursor: pointer;
                &:hover{
                    background-color: #98C389;

                }
            }
        }
    }
    .right{
        width: 78%;
        font-family: "inter",sans-serif;
        // background-color: red;
        padding: 2em;
        display: flex;
        flex-direction: column;

        .header{
            width: 100%;
            height: 20vh;
            // background-color: blue;
            display: flex;
            justify-content: space-between;

            .headerLeft{
                // background-color: black;
                width: 200px;
                display: flex;
                justify-content: flex-end;
                flex-direction: column;
                gap: 1em;
                .h2catatanku{
                    display: inline;
                    height: auto;
                    color: $ijo;
                    font-size: 2.5rem;
                    // background-color:none ;
                }
                .month{
                    display: flex;
                    gap: 15px;
                    align-items: center;
                    color: $ijo;
                    h2{
                        font-size: 2rem;
                    }
                    img{
                        width: 40px;
                        transition: .2s linear;
                        cursor: pointer;
                        &:hover{
                            transform: scale(1.05);
                            transition: .2s linear;
                        }
                        // background-color: red;
                    }
                    
                }
            }
            .headerRight{
                padding-top: 2em;
                cursor: pointer;
                width: auto;
                // background-color: aqua;
                display: flex;
                flex-direction: column;
                gap: 1.4em;
                .item{
                    padding: 0.5em 0.7em;
                    border-radius: 10px;
                    color: white;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: rgba(77,119,78,.8);
                    transition: .3s ease;
                    &:hover{
                        transform: scale(0.97);
                        transition: .3s ease;
                    }
                    h2{
                        text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.322);
                        font-weight: 200;
                        font-size: 1.2em;
                    }
                    width: 200px;
                }
            }
        }
            .tableFixHead {
            
            margin-top: 2em;
            width: 100%;
            overflow-y: auto;
            height: 70vh;
            // border-radius: 10px 10px 0 0;
            // align-self: center;
            // background-color: red;
            // padding-top: -10px;
            }

            .tableFixHead thead {
            position: sticky;
            // padding-top: -10px;

            top: 0;
            }
            .content{
            width: 100%;
            height: 70vh;
            margin-top: 1.3em;
            
            table {
            // overflow: scroll;
            font-family: "Poppins", sans-serif;
            background-color: var(--orentua);
            border-spacing: 0.4em 0.3em;
            // border-collapse: collapse;
            width: 100%;
            color: #7D7676;
            }
            th {
            background-color: var(--orentua);
            letter-spacing: 1px;
            font-weight: 700;
            background-color: #fff;
            text-shadow: 0 2px 3px rgba(0, 0, 0, 0.171);
            }
            th,
            td {
            padding: 0.5em;
            text-align: center;
            }
            td {
            background-color: #fff;
            /* gap: 5pxss; */
            }
            .aksi{
                // background-color: blue;
                display: flex;
                align-items: center;
                justify-content: center;
                .imgContainer{
                    width: 40%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    .item{
                        width: 50%;
                        img{
                            width: 100%;
                        }
                        &:hover{
                            transform: scale(1.05);
                            transition: .2s ease;
                        }
                        transition: .2s ease;
                        cursor: pointer;
                    }
                }
            }
                    }

                }
            }

.popUpCatatanku{
    position: absolute;
    // background-color: rgba(0, 0, 0, 0.445);    
    background-color: #7676767c;
    // filter: blur(10px);
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    .content{
        width: 55%;
        height:80vh;
        position: absolute;
        font-family: "Inter", sans-serif;
        background-color: red;
        .header{
            padding: 0 4em;
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 15%;
            background-color:#F1B24A;
            h3{
                font-size: 2rem;
                color: white;
                text-shadow: 0 2px 5px rgba(0, 0, 0, 0.319);
            }
            .silang{
                cursor: pointer;
                width: 50px;
                img{
                    border-radius: 10%;
                    width: 100%;
                    transition: .2s ease;
                    &:hover{
                        // transform: scale(0.95);  
                        transition: .1s ease;
                        background-color: rgb(246, 90, 90);
                    }
                }
            }
        }
        .body{
            padding: 0 4em;
            padding-top: 2em;
            width:100%;
            height: 85%;
            background-color: $ijo-muda;
            .subTitle{
                font-size: 1.5rem;
                color: white;
                text-shadow: 0 2px 3px rgba(0, 0, 0, 0.252);
            }
            .categoryWrapper{
                margin-top: 15px;
                display: flex;
                // background-color: aqua;
                // height: 35%;
                justify-content: space-between;
                .category{
                    width: 90%;
                    // background-color: red;
                    overflow-x: scroll;
                    display: flex;
                    align-items: center;
                    gap: 30px;
                    // margin-top: 10px;
                    // justify-content: center;
                    .categoryItem{
                        // margin-top: 20px;
                        width: 100px;
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        gap: 10px;
                        .img{
                            width: 100px;
                            height: 100px;
                            border-radius: 50%;
                            background-color: #D9D9D9;
                            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.337);
                        }
                        .imgTitle{
                            font-size: 1rem;
                            color: white;
                            font-weight: 400;
                            word-break: break-all;
                        }
                    }
                }
                .addCategory{
                    width: 6%;
                    // background-color: blue;
                    img{
                        margin-top: 25px;
                        width: 100%;
                        transition: .1s linear;
                        &:hover{
                            transform: scale(1.05);
                            transition: .1s linear;
                            cursor: pointer;
                        }
                    }
                }
            }
            form{
                display: flex;
                flex-direction: column;
                position: relative;
            }
            .formPemasukan{
                margin-top: 20px;
                width: 100%;
                // background-color: blue;
                display: flex;

                input,textarea{
                    font-family: "Inter",sans-serif;
                    margin-top: 10px;
                    font-size: 1rem;
                    color: $ijo;
                    padding: 0 20px;
                }
                textarea{
                    padding-top: 10px;
                    padding-bottom: 10px;
                    height: 200px;
                    resize: none;

                }
                .leftSide{
                    width: 50%;
                    // gap: 8px;
                    display: flex;
                    flex-direction: column;
                    h4:nth-child(3){
                        margin-top: 20px;
                    }
                }
                .rightSide{
                    width: 50%;
                    // background-color: black;
                    .descForm{
                        width: 100%;
                        height: 130px;
                    }
                }
            }
            .submit{
                bottom: -50px;
                right: 0;
                position: absolute;
                border-radius: 7px;
                margin-top: 25px;
                transition: .2s linear;
                &:hover{
                    border-radius: 0;
                    transition: .2s linear;
                    background-color: #dda345;

                }
            }
        }
    }

}
::-webkit-scrollbar {
  width: 0 !important;
}
body {
  scrollbar-width: none;
}