Link{
    color: black;
    background-color: red;
}
a{
    text-decoration: none;
    color: white;
}

button{
    border: none;
    outline: none;
    background-color: $oren;
    padding: 0.3em 0.7em;
    // width: 100%;
    font-family: 'Inter', sans-serif;
    color: white;
    font-weight: 600;
    font-size: 1.1rem;
    cursor: pointer;
}

.pop-slide-up{
  animation: slideUp 1s cubic-bezier(0, 0.67, 0.2, 1.05) forwards;
}
.cardAnimation-1{
  animation: slideUp 2s cubic-bezier(0, 0.67, 0.2, 1.05) forwards;
}
.cardAnimation-2{
  animation: slideUp 2s 0.2s cubic-bezier(0, 0.67, 0.2, 1.05) forwards;
}
.cardAnimation-3{
  animation: slideUp 2s 0.4s cubic-bezier(0, 0.67, 0.2, 1.05) forwards;
}
.slideLeft{
  animation:slideLeft 1s cubic-bezier(0, 0.67, 0.2, 1.05) forwards;
}
.slideRight{
  animation:slideRight 1s cubic-bezier(0, 0.67, 0.2, 1.05) forwards;
}


@keyframes slideLeft{
  0%{
    opacity: 0;
    transform: translateX(-8rem);
  }
  100%{
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes slideRight{
  0%{
    opacity: 0;
    transform: translateX(8rem);
  }
  100%{
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes slideUp{
  0%{
    opacity: 0;
    transform: translateY(4rem);
  }
  100%{
    opacity: 1;
    transform: translateX(0);
  }
}


