Link{
    color: black;
    background-color: red;
}
a{
    text-decoration: none;
    color: white;
}

button{
    border: none;
    outline: none;
    background-color: $oren;
    padding: 0.3em 0.7em;
    // width: 100%;
    font-family: 'Inter', sans-serif;
    color: white;
    font-weight: 600;
    font-size: 1.1rem;
    cursor: pointer;
}